useDynLib(NPMLEDIC, .registration=TRUE)
importFrom(Rcpp, evalCpp)
export("eccdf_dic_vb")
export("eccdf_dic_em")
export("simDIC")
export("reccdf")
export("rmlast")
export("confint_dic")
export("eccdf_dicrt_em")