useDynLib(NPMLEDIC, .registration=TRUE)
importFrom(Rcpp, evalCpp)
export("eccdf_dic_gibbs")
export("eccdf_dic_vb")
export("eccdf_dic_em")
export("simDIC")
export("reccdf")
export("confint_dic")
#export("rmlast")
#export("eccdf_dicrt_em")